body {
    /* background-color: #36b366; */
    background-image: url(../../assets/bgLogin.jpg);
    background-size: cover;
}

/* label color */
.input-field label {
    color: #ffffff;

}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #ffffff;
}

input#gebruikernaam {
    color: white;
}

input#wachtwoord {
    color: white;
}