<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../../../src/style/materialize/css/materialize.min.css"
    media="screen,projection" />

  <link rel="stylesheet" href="../../style/main.css">


  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>NHS - Results</title>
</head>

<body class="">
  <nav> <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a class='dropdown-trigger ' href='#' data-target='dropdown1' href="#">
            <i class="material-icons black-text">notifications</i>
          </a>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
          </ul>

        </li>
        <li>
          <a class='dropdown-trigger ' href='#' data-target='dropdown2' href="#">
            <i class="material-icons black-text">person</i>
          </a>
          <ul id='dropdown2' class='dropdown-content'>
            <li><a href="./gegevens.html" id="huidige_gebruiker_naam"><i class="material-icons left">person</i></a></li>
            <li><a onclick=" logout()">Logout</a></li>
          </ul>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="col s3">
    <ul id="slide-out" class="sidenav sidenav-fixed sidebar text-white">
      <li class="white-text logo-block">
        <img width="50px" src="../../../assets/natinlogo.png" />
        Homework System
      </li>
      <span class="line"></span>
      <nav-block>
        <li class="">
          <i class="material-icons">dashboard</i>
          <a href="./dashboard.html">Dashboard</a>
        </li>
        <li>
          <i class="material-icons">person</i>
          <a href="./gegevens.html">My Information</a>
        </li>
        <li class="">
          <i class="material-icons">flag</i>
          <a href="./roadmaps.html">Roadmaps</a>
        </li>
        <li class="active">
          <i class="material-icons">assessment</i>
          <a href="./resultaten.html">Results</a>
        </li>
      </nav-block>
    </ul>
  </div>

  <div class="main-content">
    <div class="row">
      <div class="col s12 m8 scale-up-center">
        <div class="card white">
          <div class="card-header-floating z-depth-2">
            <span class="card-title">Results</span>
            <span class="card-subtitle">An overview of all your assignments and scores.</span>
          </div>
          <div class="card-content ">
            <!-- Resultaat Table -->

            <table id="resultaatTable" class="highlight responsive-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Assignment</th>
                  <th>Description</th>
                  <th>Roadmap</th>
                  <th>Subject</th>
                  <th>Class</th>
                  <th>Points</th>
                  <th></th>
                </tr>
              </thead>
              <tbody id="resultaatTableBody"></tbody>
            </table>
          </div>

        </div>
      </div>
    </div>


  </div>


  <!--JavaScript at end of body for optimized loading-->

  <script type=" text/javascript" src="../../../src/style/materialize/js/materialize.min.js">
              </script>

  <script src="../../controllers/main.js"></script>
  <script src="../../controllers/permissions.js"></script>
  <script src="../../controllers/studentResultaatController.js"></script>
  <script>
    M.AutoInit();
    // document.addEventListener("DOMContentLoaded", function () {
    //   var elems = document.querySelectorAll("select");
    //   var instances = M.FormSelect.init(elems, {});
    //   // var instances = M.FormSelect.init(elems, options);

    // });
    window.onload = redirectIfNotPermitted();
    window.onload = setFullName();

  </script>
</body>

</html>